.container {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0 20px rgba($color: #000, $alpha: 0.09);
}

.empty {
  @extend .container;

  background-color: #e6e6e6;
}

.tableStatic {
  flex: 1;
  overflow: hidden;
}

.tableScroll {
  flex: 1;
  overflow-y: scroll;
}

.content {
  width: 100%;
}

.contentFlex {
  @extend .content;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rowTitle {
  display: block;
}
