.table {
  flex: 1;
  background-color: white;
}

.tableFlex {
  @extend .table;
  display: flex;
  flex-direction: column;
}

sup {
  font-size: 60%;
  margin-bottom: 5%;
}

/* GLOBAL STYLE FOR ALL ROWS */

.rowButton {
  position: relative;
  width: 100%;
  text-align: left;
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.row:active {
  opacity: 0.5;
}

.header {
  @extend .rowButton;
  height: 32px;

  b {
    font-weight: 900;
    font-size: 130%;
    font-size: 18px;
  }
}

.subHeader {
  @extend .rowButton;

  font-weight: 900;
  font-size: 18px;
  height: 28px;
}

.item {
  @extend .rowButton;

  padding-left: 40px;
  padding: 12px 12px 12px 34px;

  b {
    font-weight: bold !important;
  }
}

.compound {
  @extend .rowButton;

  padding: 15px 12px 15px 8px;
}

/* FADER FOR UNRELATED ROWS */
.fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  pointer-events: none;
}
