.sunburst {
  position: relative;
  flex: 1;
  text-align: center;
  margin-top: -5px;
  opacity: 1;
}

.phaseContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.phaseRing {
  width: 786px;
  height: 786px;
}

.shadow {
  filter: drop-shadow(0 0 20px rgba($color: #000, $alpha: 0.15));
}

.empty {
  position: absolute;
  top: 100px;
  left: 180px;
  width: 588px;
  height: 588px;
}

.canvas {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 20px rgba($color: #000, $alpha: 0.15));
}
