.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  flex: 1;
  background-color: white;
  transition: transform 300ms ease-in-out;
  transform: translate(-210px, -118px) scale(0.781);
}
