@font-face {
  font-family: "BoldFont";
  src: url("./fonts/Klavika-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LightFont";
  src: url("./fonts/ApexSans-Light.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeueLTPro", sans-serif;
  font-weight: 400;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: white;
}

button {
  background: none;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: white;
  font-family: "HelveticaNeueLTPro", sans-serif;
}

img {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg {
  background: none;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
