.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  flex: 1;
  background-color: white;
}

.pipeline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.panels {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 1;
}

.topShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
  box-shadow: 0 5px 20px rgba($color: #000, $alpha: 0.09);
}
