.container-false {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 10px;
  pointer-events: none;
}

.container-true {
  @extend .container-false;

  pointer-events: all;
}

.shader-false {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.65);
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
}

.shader-true {
  @extend .shader-false;

  opacity: 1;
  pointer-events: all;
}

.gestures {
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  height: 100%;
  pointer-events: all;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 14px;
  transform: translate3d(0, 0, 0);
}

.btnBack {
  position: absolute;
  top: 50%;
  left: 10px;
}

.btnNext {
  @extend .btnBack;

  left: unset;
  right: 10px;
}

.buttons {
  width: 100%;
  height: 45px;
  background-color: white;
  display: flex;
}

.button {
  flex: 1;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
}

.buttonSelected {
  @extend .button;

  border-radius: 0 100px 100px 0;
}

.cards {
  position: relative;
  flex: 1;
  display: flex;
  pointer-events: none;
  transition: transform 450ms ease-in-out;
}

.cardsStatic {
  @extend .cards;

  transition: none;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  animation: delayed-appear 200ms ease;
}

@keyframes delayed-appear {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  margin-top: 0;
  width: 1140px;
  height: 1900px;
  overflow-x: visible;
  overflow-y: scroll;
  pointer-events: auto;
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.contentScrolling {
  @extend .content;

  height: 980px;
}

.contentCompoundsSmall {
  @extend .content;

  pointer-events: none;
  opacity: 0.2;
  transform: translate(-722px, -414px) scale(0.442);
}

.contentStudiesSmall {
  @extend .contentCompoundsSmall;

  transform: translate(722px, -414px) scale(0.442);
}

.content::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.cropped {
  overflow: hidden;
  width: 1080px;
  height: 1740px;
  margin: 100px 0 40px 30px;
  background-color: white;
  box-shadow: 0 0 40px rgba($color: #000, $alpha: 0.47);
  transition: box-shadow 300ms ease-in-out;
}

.croppedOff {
  @extend .cropped;

  box-shadow: 0 0 40px rgba($color: #000, $alpha: 0);
}

.image {
  width: 1080px;
  margin-top: -7%;
}

.warning {
  color: rgb(100, 32, 0);
  width: 100%;
  text-align: center;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 600;
}

.logo {
  width: 240px;
  margin: 53% 17% 0 24%;
}

.logoShort {
  width: 300px;
  margin: 40% 17% 0 17%;
}

.logoShortRadial {
  width: 300px;
  margin: 35% 17% 0 17%;
}

.info {
  font-size: 14px;
  color: #58595b;
  margin: 5% 0 0 24%;
}
