.container {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -5px 0 20px rgba($color: #000, $alpha: 0.09);
}

.empty {
  @extend .container;

  background-color: #e6e6e6;
}

.bubbles {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.bubblesHidden {
  @extend .bubbles;

  flex: 0;
  display: none;
}

.svg {
  padding-left: 0;
  transition: padding 200ms ease-in-out;
}

.node {
  // transition: transform 500ms ease-in-out;
}

.circle {
  // transition: transform 500ms ease-in-out;
}

.node:active {
  opacity: 0.7;
}

.svgFew {
  padding-left: 40px;
}

.svgFewBig {
  padding-left: 25px;
}

.svgFewCTL119 {
  padding-left: 60px;
}

.svgFewBigCTL119 {
  padding-left: 100px;
}
